{{ define "content" }}
<div class="position-relative">
    <div class="mt-4">
        <div class="js-pinned-items-reorder-container">
            <h2 class="f4 mb-2 text-normal">
                Blogs
            </h2>
            <section id="pincipal">
                <section id="publicaciones">
                    <article>
                        <h2> 7 de agosto </h2>
                        <img src="images/1-8-8.png" height="150" width="150">
                        <img src="images/2-7-8.png" height="150" width="150">
                        <p class="parrafo-post">
                            Estas imagenes representan el contenido de como fue un dia de pandemia 
                            en mi vida
                        <p>
                    </article> 
                </section>
                <section id="publicaciones">
                    <article>
                        <h2> 8 de agosto </h2>
                        <img src="images/1-7-8.png" height="150" width="150">
                        <img src="images/1-9-8.png" height="150" width="150">
                        <p class="parrafo-post">
                            Estas imagenes representan el contenido de como fue un dia de pandemia 
                            en mi vida
                        <p>
                    </article> 
                </section>
                <section id="publicaciones">
                    <article>
                        <h2> 9 de agosto </h2>
                        <img src="images/1-11-8.png" height="150" width="150">
                        <img src="images/2-9-8.png" height="150" width="150">
                        <p class="parrafo-post">
                            Estas imagenes representan el contenido de como fue un dia de pandemia 
                            en mi vida
                        <p>
                    </article> 
                </section>
                <section id="publicaciones">
                    <article>
                        <h2> 10 de agosto </h2>
                        <img src="images/1-10-8.png" height="150" width="150">
                        <img src="images/2-10-8.png" height="150" width="150">
                        <p class="parrafo-post">
                            Estas imagenes representan el contenido de como fue un dia de pandemia 
                            en mi vida
                        <p>
                    </article> 
                </section>
                <section id="publicaciones">
                    <article>
                        <h2> 11 de agosto </h2>
                        
                        <img src="images/2-11-8.png" height="150" width="150">
                        <p class="parrafo-post">
                            Estas imagenes representan el contenido de como fue un dia de pandemia 
                            en mi vida
                        <p>
                    </article> 
                </section>
        </div>
    </div>
</div>


